<?xml version="1.0" encoding="utf-8"?>
<Media Key="3278adf2-d0c5-44b2-b794-05e2c6fc8f72" Alias="Aaron.svg" Level="2">
  <Info>
    <Parent Key="822ab7a3-3033-4b10-bc19-17e36c4e947c">Team Members</Parent>
    <Path>/TeamMembers/Aaronsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T20:06:06</CreateDate>
    <NodeName Default="Aaron.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aainvug4/aron.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>