<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3b18807-1ce3-4e77-80f7-3dd42494cbb5" Alias="about-map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/aboutMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T13:27:53</CreateDate>
    <NodeName Default="about-map.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4u0bgepy/about-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>