<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e7d9f6a-5ca7-4bec-b75c-8d6198368f73" Alias="AJ.svg" Level="2">
  <Info>
    <Parent Key="822ab7a3-3033-4b10-bc19-17e36c4e947c">Team Members</Parent>
    <Path>/TeamMembers/AJsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T20:06:07</CreateDate>
    <NodeName Default="AJ.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tarn5tf2/ajcarter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>