<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf03abd1-0a32-425b-927b-d3249f00a21f" Alias="assurance.svg" Level="2">
  <Info>
    <Parent Key="8c6b3347-f1e3-4876-8906-a66f68f77bf0">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/assurancesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:52:11</CreateDate>
    <NodeName Default="assurance.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/emlkcljj/assurance.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>