<?xml version="1.0" encoding="utf-8"?>
<Media Key="b790c8ab-d3e8-4999-8150-838e0239ff24" Alias="bonds.svg" Level="2">
  <Info>
    <Parent Key="8c6b3347-f1e3-4876-8906-a66f68f77bf0">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/bondssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:52:11</CreateDate>
    <NodeName Default="bonds.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lf0devpt/bonds.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>