<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7d1de39-7d86-4ff1-b46f-7194489bb165" Alias="Contact info img.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactInfoImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T10:50:18</CreateDate>
    <NodeName Default="Contact info img.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/znrhgbm3/contact-info-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>