<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd223058-a548-40f4-b7b4-4ba5ca45735d" Alias="Contact info.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactInfosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T10:12:56</CreateDate>
    <NodeName Default="Contact info.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vkgjap0t/contact-info.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>