<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3c94793-f2a5-4319-9ed5-d3c3ca3358d4" Alias="Contact info.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactInfosvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T10:47:31</CreateDate>
    <NodeName Default="Contact info.svg (1)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mh3gwqn4/contact-info.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>