<?xml version="1.0" encoding="utf-8"?>
<Media Key="9bfd0630-9c58-49e9-9404-9ab5f0a73079" Alias="Dot map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T14:07:37</CreateDate>
    <NodeName Default="Dot map.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yk3f44kd/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>