<?xml version="1.0" encoding="utf-8"?>
<Media Key="f14d56f6-c812-47bd-97db-e5f2a43aedee" Alias="Dot map (1).svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DotMap1Svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T18:34:16</CreateDate>
    <NodeName Default="Dot map (1).svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/atvp4eyj/dot-map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>