<?xml version="1.0" encoding="utf-8"?>
<Media Key="c82fd9b8-4c05-4141-89c5-444ff5e8135d" Alias="financial.svg" Level="2">
  <Info>
    <Parent Key="8c6b3347-f1e3-4876-8906-a66f68f77bf0">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/financialsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:52:12</CreateDate>
    <NodeName Default="financial.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jjsi0kq4/financial.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>