<?xml version="1.0" encoding="utf-8"?>
<Media Key="8aeca153-ec88-4111-bcd5-2e35e26cb686" Alias="Founder-about.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FounderAboutsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T15:44:15</CreateDate>
    <NodeName Default="Founder-about.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ueoe20et/founder-about.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>