<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa312743-9d23-494c-b2b5-46aaf8ce73b2" Alias="Hero.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Herosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T22:13:03</CreateDate>
    <NodeName Default="Hero.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wgnjggby/hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>