<?xml version="1.0" encoding="utf-8"?>
<Media Key="44272efe-3fa9-4fb5-aaac-082b63e32f5b" Alias="Icon address.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconAddresssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T10:26:36</CreateDate>
    <NodeName Default="Icon address.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bsjjljvs/icon-address.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>