<?xml version="1.0" encoding="utf-8"?>
<Media Key="8424ec8d-1ead-4e79-9367-9905e0d1c86a" Alias="Kevin.svg" Level="2">
  <Info>
    <Parent Key="822ab7a3-3033-4b10-bc19-17e36c4e947c">Team Members</Parent>
    <Path>/TeamMembers/Kevinsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T20:06:07</CreateDate>
    <NodeName Default="Kevin.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/p3ijmzvw/kevin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>