<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ec13a03-e925-4cb3-8e57-6d5c7cf4f739" Alias="Logo.svg" Level="2">
  <Info>
    <Parent Key="822ab7a3-3033-4b10-bc19-17e36c4e947c">Team Members</Parent>
    <Path>/TeamMembers/Logosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-25T17:07:59</CreateDate>
    <NodeName Default="Logo.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4gdhhpb4/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>