<?xml version="1.0" encoding="utf-8"?>
<Media Key="060ec903-ce7e-4753-b9c9-22e8a5c2cb85" Alias="Mail.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T19:14:27</CreateDate>
    <NodeName Default="Mail.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4f0kzzdf/mail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>