<?xml version="1.0" encoding="utf-8"?>
<Media Key="01ee70eb-360c-4243-8172-ed369cdc5c72" Alias="Miranda.svg" Level="2">
  <Info>
    <Parent Key="822ab7a3-3033-4b10-bc19-17e36c4e947c">Team Members</Parent>
    <Path>/TeamMembers/Mirandasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T20:06:07</CreateDate>
    <NodeName Default="Miranda.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dhgfzyyx/miranda.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>