<?xml version="1.0" encoding="utf-8"?>
<Media Key="5db27402-9633-4282-ac4a-5c5111116c4e" Alias="Partners.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partnerssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T12:20:19</CreateDate>
    <NodeName Default="Partners.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4debbpzi/partners.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>