<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0989836-dbf1-403b-9e85-0f46f3e2b518" Alias="relationship.svg" Level="2">
  <Info>
    <Parent Key="8c6b3347-f1e3-4876-8906-a66f68f77bf0">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/relationshipsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T14:00:10</CreateDate>
    <NodeName Default="relationship.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yqsduixk/relationship.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>