<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd00d3b7-c8eb-4c3e-8caf-5bd48daef005" Alias="riskManagment.svg" Level="2">
  <Info>
    <Parent Key="8c6b3347-f1e3-4876-8906-a66f68f77bf0">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/riskManagmentsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:52:12</CreateDate>
    <NodeName Default="riskManagment.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ivxkeh5q/riskmanagment.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>