<?xml version="1.0" encoding="utf-8"?>
<Media Key="b8f72108-7b36-415c-b91b-1da89b88fd1d" Alias="riskManagment.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/riskManagmentsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:56:30</CreateDate>
    <NodeName Default="riskManagment.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5kofkwrn/riskmanagment.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>