<?xml version="1.0" encoding="utf-8"?>
<Media Key="82190635-169c-4f60-a1d9-fd3bf4291b9a" Alias="Services " Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-05T11:43:11</CreateDate>
    <NodeName Default="Services " />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>