<?xml version="1.0" encoding="utf-8"?>
<Media Key="73e21c8c-54f5-48ec-b0a4-ecf035bc8246" Alias="Signature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Signaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T15:59:51</CreateDate>
    <NodeName Default="Signature.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/p0qfbepo/signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>