<?xml version="1.0" encoding="utf-8"?>
<Media Key="dffe029a-c20b-4fcb-be36-a1872947c41c" Alias="statistic.svg" Level="2">
  <Info>
    <Parent Key="8c6b3347-f1e3-4876-8906-a66f68f77bf0">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/statisticsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:52:12</CreateDate>
    <NodeName Default="statistic.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nc5fypiq/statistic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>