<?xml version="1.0" encoding="utf-8"?>
<Media Key="d58a5a17-5025-4f4c-a0b7-6fdf8bd02a05" Alias="success.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T14:45:36</CreateDate>
    <NodeName Default="success.svg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2xtdqnz4/success.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>