<?xml version="1.0" encoding="utf-8"?>
<Media Key="e01df949-9dc6-4167-8763-40566b5ea036" Alias="Success story.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SuccessStorysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T18:30:16</CreateDate>
    <NodeName Default="Success story.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xncl4aw3/success-story.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>