<?xml version="1.0" encoding="utf-8"?>
<Media Key="f52ed122-d02b-4919-901f-5f712e90d658" Alias="tax.svg" Level="2">
  <Info>
    <Parent Key="8c6b3347-f1e3-4876-8906-a66f68f77bf0">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/taxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T11:52:12</CreateDate>
    <NodeName Default="tax.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0bwiyfzq/tax.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>