<?xml version="1.0" encoding="utf-8"?>
<Media Key="437f95aa-7c8a-490e-aed8-217679899b98" Alias="Tina.svg" Level="2">
  <Info>
    <Parent Key="822ab7a3-3033-4b10-bc19-17e36c4e947c">Team Members</Parent>
    <Path>/TeamMembers/Tinasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T20:06:06</CreateDate>
    <NodeName Default="Tina.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/laun1imr/tina.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>