<?xml version="1.0" encoding="utf-8"?>
<Media Key="1507c56f-03ce-4cd2-b621-2908e0d4a4fa" Alias="trusted-kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/trustedKevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T11:23:53</CreateDate>
    <NodeName Default="trusted-kevin-gardner.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tv2kl34v/trusted-kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>