<?xml version="1.0" encoding="utf-8"?>
<Media Key="2669e1e5-49e3-4ae6-b88f-79c45b360852" Alias="VideoImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VideoImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-14T14:07:53</CreateDate>
    <NodeName Default="VideoImage.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c3omxrhy/videoimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>