<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7228888-a716-4c90-9212-e3f602e2161f" Alias="VideoImage.svg" Level="2">
  <Info>
    <Parent Key="8c6b3347-f1e3-4876-8906-a66f68f77bf0">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/VideoImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T13:57:35</CreateDate>
    <NodeName Default="VideoImage.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pi0jafin/videoimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>