<?xml version="1.0" encoding="utf-8"?>
<Content Key="b639fcc3-178b-4b4a-ac1f-89d0d4600270" Alias="2025-11-11 14:06 - John" Level="2">
  <Info>
    <Parent Key="f3cd504e-f091-4003-a41d-713a4c84d60c">Form Submissions</Parent>
    <Path>/FormSubmissions/John</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-11T14:06:30</CreateDate>
    <NodeName Default="2025-11-11 14:06 - John" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[john@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[John]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[076657675]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>