<?xml version="1.0" encoding="utf-8"?>
<Content Key="b467dedb-e471-4f2b-8f10-c8b07b30e1b7" Alias="(DateTime.Now:yyyy-MM-dd HH:mm)" Level="2">
  <Info>
    <Parent Key="f3cd504e-f091-4003-a41d-713a4c84d60c">Form Submissions</Parent>
    <Path>/FormSubmissions/DateTimeNowyyyyMMDdHHmm</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-11T12:51:44</CreateDate>
    <NodeName Default="(DateTime.Now:yyyy-MM-dd HH:mm)" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[Mona@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Mona]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[076123123]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>