<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f71c1e6-dde5-41aa-8402-1cfe7024cbf1" Alias="Services" Level="2">
  <Info>
    <Parent Key="82403617-aff6-4ef4-812e-a1e168a2d16b">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-23T12:22:59</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="35e95888-f840-4f5c-87e7-87dbb7261833">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a324a78e-9a8e-4b50-864a-1e33fa714dd3",
      "key": "a5d2f4c1-180b-408f-a9e1-6651adb24e8a",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "d5ada81f-13c7-4e91-bfa3-3dbd1f9a507f",
      "key": "90a72b5f-ce88-46a0-89b7-4b0369495e6e",
      "udi": null,
      "values": [
        {
          "alias": "contactUsTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ELet us know about your next project\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactUsLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EOffice location\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan class=\u0022text-body-text\u0022\u003EKlarabergsviadukten 90, 111 52 Stockholm\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactUsPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EPhone number\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan class=\u0022text-body-text\u0022\u003E\u002B46 8 123 456 75\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactUsEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EE-mail address\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022mailto:sales@onatrix.com\u0022 type=\u0022external\u0022\u003E\u003Cspan class=\u0022text-body-text\u0022\u003Esales@onatrix.com\u003C/span\u003E\u003C/a\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactUsImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c24e5322-6920-4778-8acd-556401cc09af",
              "mediaKey": "e7d1de39-7d86-4ff1-b46f-7194489bb165",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b2e8a803-dfed-4955-be0b-ed0468ab7a55",
      "key": "6c378850-4995-4736-97af-e0855bcf9b5e",
      "udi": null,
      "values": [
        {
          "alias": "serviceQuestionSectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-md font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EHave a question ?\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "535afa0e-3b23-4af9-874b-57f307ab3868",
      "key": "6db6ea57-71e6-4582-b059-e8023f09d6e7",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#fff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a5d2f4c1-180b-408f-a9e1-6651adb24e8a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "90a72b5f-ce88-46a0-89b7-4b0369495e6e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6c378850-4995-4736-97af-e0855bcf9b5e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a5d2f4c1-180b-408f-a9e1-6651adb24e8a",
        "contentUdi": null,
        "settingsKey": "6db6ea57-71e6-4582-b059-e8023f09d6e7",
        "settingsUdi": null
      },
      {
        "contentKey": "6c378850-4995-4736-97af-e0855bcf9b5e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "90a72b5f-ce88-46a0-89b7-4b0369495e6e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>