<?xml version="1.0" encoding="utf-8"?>
<Content Key="542b8a4f-3711-4354-8bac-7157da378c57" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-25T17:11:23</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <footerCopyright>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to ]]></Value>
    </footerCopyright>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6e6e18d0-8581-4d49-ab9b-7057f415284f",
      "key": "b685ceab-0282-4d11-be1c-0bf4deb5bcca",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "6e6e18d0-8581-4d49-ab9b-7057f415284f",
      "key": "e781cd88-6a9d-46e0-b446-7a14a54c2286",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        }
      ]
    },
    {
      "contentTypeKey": "6e6e18d0-8581-4d49-ab9b-7057f415284f",
      "key": "198ff848-8aed-4c12-8c7c-5a0333ff7401",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.x.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b685ceab-0282-4d11-be1c-0bf4deb5bcca",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e781cd88-6a9d-46e0-b446-7a14a54c2286",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "198ff848-8aed-4c12-8c7c-5a0333ff7401",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b685ceab-0282-4d11-be1c-0bf4deb5bcca",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e781cd88-6a9d-46e0-b446-7a14a54c2286",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "198ff848-8aed-4c12-8c7c-5a0333ff7401",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "72a7877e-da93-47d4-b2ec-2b15d5b61ff0",
    "mediaKey": "5ec13a03-e925-4cb3-8e57-6d5c7cf4f739",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>