<?xml version="1.0" encoding="utf-8"?>
<DataType Key="999dd22d-5eae-4c3f-ab10-72f2e6d6f272" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b27af161-4c35-4d54-8e0a-92564e020b64"
    },
    {
      "contentElementTypeKey": "a324a78e-9a8e-4b50-864a-1e33fa714dd3",
      "settingsElementTypeKey": "535afa0e-3b23-4af9-874b-57f307ab3868"
    },
    {
      "contentElementTypeKey": "e5aeb3be-4f40-4e31-a86d-7cae58b56502"
    },
    {
      "contentElementTypeKey": "f0b4fbd6-8b01-4b1e-98e1-3c230551ba81",
      "settingsElementTypeKey": "b9666848-e0b3-4c8d-91d7-76793f1498a8"
    },
    {
      "contentElementTypeKey": "b9666848-e0b3-4c8d-91d7-76793f1498a8"
    },
    {
      "contentElementTypeKey": "d5ada81f-13c7-4e91-bfa3-3dbd1f9a507f"
    },
    {
      "contentElementTypeKey": "9ea2667a-8c9b-4c9b-b583-cd24f9d7a541"
    },
    {
      "contentElementTypeKey": "888cefe7-19eb-4d9e-80ff-cf986a570e92"
    },
    {
      "contentElementTypeKey": "d1124822-2367-4e7d-8676-55c3ff99ba31"
    },
    {
      "contentElementTypeKey": "12dab265-8f23-422d-bfee-41992a528450"
    },
    {
      "contentElementTypeKey": "541b06cc-68da-4c64-a05f-1b1e709d8d65"
    },
    {
      "contentElementTypeKey": "663b82ee-323e-44c8-a07b-04e366d62a65"
    },
    {
      "contentElementTypeKey": "b2e8a803-dfed-4955-be0b-ed0468ab7a55"
    },
    {
      "contentElementTypeKey": "abf81592-eddd-49ff-8ac0-c0a92b0caafd"
    },
    {
      "contentElementTypeKey": "446ca31d-1a95-4635-b7de-5fc1cc46a047"
    }
  ]
}]]></Config>
</DataType>