<?xml version="1.0" encoding="utf-8"?>
<DataType Key="67bbdb80-d0d6-4f8d-b615-5d63b7215eab" Alias="Service Detail Aside - List" Level="1">
  <Info>
    <Name>Service Detail Aside - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f56fc263-2aa5-4361-a76d-1a90939ed2b9"
    },
    {
      "contentElementTypeKey": "abf81592-eddd-49ff-8ac0-c0a92b0caafd"
    }
  ]
}]]></Config>
</DataType>