<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4bc00c7a-7655-46f7-a4b3-148f329eac22" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6e6e18d0-8581-4d49-ab9b-7057f415284f",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>