<?xml version="1.0" encoding="utf-8"?>
<DataType Key="49d5d859-2283-4890-89a0-ef3da9a22210" Alias="Success Section - Success Items - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Success Section - Success Items - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d741e81c-62fd-47b7-853b-ad6bfeb30d8b"
    }
  ],
  "validationLimit": {
    "min": 3
  }
}]]></Config>
</DataType>