<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9ed60b86-267e-4008-9d6d-06f604bf9b0d" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b9f0aa5f-a6d4-41f8-a603-e4074515a8a4",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>