@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using System.Collections
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using OnatrixUmbraco.ViewModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var content = (ContentModels.ServiceQuestionSection)Model.Content;
}

<section class="question-section py-12">
    <div class="max-w-7xl mx-auto px-4">
        <h2 class="text-xl font-bold mb-6">@content.ServiceQuestionSectionTitle</h2>
        <form class="space-y-4 max-w-[1170px]">
            <div class="flex gap-4">
                <input type="text"
                       placeholder="Name"
                       class="w-full p-3 italic border border-gray-300 focus:ring-2 focus:ring-primary outline-none" />

                <input type="email"
                       placeholder="Email"
                       class="w-full p-3 italic border border-gray-300 focus:ring-2 focus:ring-primary outline-none" />
            </div>
            <textarea placeholder="Question"
                      class="w-full p-3 h-40 italic border border-gray-300 focus:ring-2 focus:ring-primary outline-none"></textarea>

            <button class="bg-primary text-white px-6 py-3 font-semibold rounded">
                Submit
            </button>
        </form>
    </div>
</section>

