<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b8f7d02b-6952-4d77-9e63-ebcaef9bd968" Alias="aboutPage" Level="2">
  <Info>
    <Name>About Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="041a0aeb-bc28-496f-9c59-e181458afa8c">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>AboutPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="553d2156-e566-4dd7-8e32-133e28730cac">AboutPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d5ada81f-13c7-4e91-bfa3-3dbd1f9a507f" SortOrder="0">contactUsSection</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>f66c38aa-355f-46c7-ae55-25ee8679dc58</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>999dd22d-5eae-4c3f-ab10-72f2e6d6f272</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a7204d34-06f9-4cb8-ab69-937cf6d0e193</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>