<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="710c4678-4997-4753-aed1-41ea9b72c376" Alias="contactPage" Level="2">
  <Info>
    <Name>Contact page</Name>
    <Icon>icon-message-open</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="041a0aeb-bc28-496f-9c59-e181458afa8c">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>ContactPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="54ced43a-19be-4be7-9c7d-962edfaf8c2e">ContactPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d5ada81f-13c7-4e91-bfa3-3dbd1f9a507f" SortOrder="0">contactUsSection</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9c12bf96-024b-4a80-a004-09eafac46072</Key>
      <Name>Banner Title</Name>
      <Alias>bannerTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>596df174-85e8-4ca6-9755-482699a0dac1</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>999dd22d-5eae-4c3f-ab10-72f2e6d6f272</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contactSections">Contact Sections</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>738f4296-f523-4145-bd16-56727f7d1495</Key>
      <Caption>Contact Sections</Caption>
      <Alias>contactSections</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>c6d491b7-3374-464f-97e8-2e013e22ae49</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>