<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7a51c29c-68c6-4d0f-932f-520d4e95c25f" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-text</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="05183836-de31-4ac1-873c-0a0d10d4d21f">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="710c4678-4997-4753-aed1-41ea9b72c376" SortOrder="0">contactPage</ContentType>
    <ContentType Key="c974196d-217b-4d16-99b8-8381d8c81007" SortOrder="1">servicePage</ContentType>
    <ContentType Key="b8f7d02b-6952-4d77-9e63-ebcaef9bd968" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>decb7451-0e70-4d43-9012-1724fd1eb1f6</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>999dd22d-5eae-4c3f-ab10-72f2e6d6f272</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1f7049cb-93b2-4324-91c7-7ecfd8b258d0</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>