<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c974196d-217b-4d16-99b8-8381d8c81007" Alias="servicePage" Level="2">
  <Info>
    <Name>Service Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="041a0aeb-bc28-496f-9c59-e181458afa8c">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>ServicePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="35e95888-f840-4f5c-87e7-87dbb7261833">ServicePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7164271d-fa4f-45ca-9a71-b9cc2b2dbfe0" SortOrder="0">serviceDetail</ContentType>
    <ContentType Key="d5ada81f-13c7-4e91-bfa3-3dbd1f9a507f" SortOrder="1">contactUsSection</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2902aff7-ab9b-436e-baab-e4bc6aa88b6d</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>999dd22d-5eae-4c3f-ab10-72f2e6d6f272</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6d1e2abc-f112-42dd-ab1d-0d6db42f49a1</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>